.syntax--storage.syntax--type.syntax--class,
.syntax--storage.syntax--type.syntax--function,
.syntax--storage.syntax--type.syntax--js,
.syntax--string.syntax--quoted.syntax--template .syntax--storage.syntax--type.syntax--function {
  color : @soft-purple;
}

.syntax--storage.syntax--type.syntax--arrow,
.syntax--string.syntax--quoted.syntax--template .syntax--storage.syntax--type.syntax--arrow {
  color : @soft-purple;
}

.syntax--storage.syntax--modifier,
.syntax--string.syntax--quoted.syntax--template .syntax--storage.syntax--modifier {
  color : @soft-purple;
}

.syntax--jsdoc.syntax--storage {
  color : mix(@soft-purple, @comment-color, 35%);
}
