.syntax--punctuation.syntax--definition.syntax--string {
  color : @soft-cyan;
}

.syntax--string.syntax--quoted {
  color : @soft-cyan;
  .syntax--constant.syntax--character.syntax--escape {
    color : @cyan;
  }
}

.syntax--string.syntax--quoted.syntax--template {
  color : @soft-cyan;

  .syntax--embedded {
    color : @light-grey;
  }

  .syntax--punctuation.syntax--embedded {
    color : @soft-cyan;
  }
}
